<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBueVVE4sFl-tJqJeV_oKGg04hQ-8I6vOI</string>
	<key>GCM_SENDER_ID</key>
	<string>121715300875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanolivergayle.textamation</string>
	<key>PROJECT_ID</key>
	<string>textamation-d07de</string>
	<key>STORAGE_BUCKET</key>
	<string>textamation-d07de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121715300875:ios:aa051524c2bd55849b450e</string>
</dict>
</plist>